extends layout

block content
  h1(class="display-3") Thank you, #{name}!
  h2(class="display-3") Your email, #{email}!
  p(class="lead")
    strong Please check your email</strong> to confirm your subscription to our newsletter.
    hr
    p Having trouble?
      a(href="") Contact us
    p(class="lead")
      a(class="btn btn-primary btn-sm" href="/" role="button") Continue to homepage
